<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VFD_Controller.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <VFD_Controller.My.MySettings>
            <setting name="G1V1ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G1V2ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G1V3ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G1V4ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G1V5ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G2V1ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G2V2ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G2V3ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G2V4ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G2V5ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G2V6ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G2V7ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G2V8ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G1V6ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G1V7ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G1V8ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G3V1ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G3V2ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G3V3ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G3V4ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G3V5ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G3V6ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G3V7ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G3V8ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G4V1ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G4V2ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G4V3ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G4V4ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G4V5ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G4V6ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G4V7ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G4V8ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G5V1ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G5V2ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G5V3ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G5V4ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G5V5ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G5V6ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G5V7ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G5V8ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NoOfVFDG1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NoOfVFDG2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NoOfVFDG3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NoOfVFDG4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NoOfVFDG5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NoOfVFDG6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NoOfVFDG7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G6V1ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G6V2ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G6V3ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G6V4ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G6V5ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G6V6ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G6V7ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G6V8ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G7V1ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G7V2ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G7V3ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G7V4ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G7V5ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G7V6ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G7V7ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G7V8ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G1V1Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G1V2Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G1V3Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G1V4Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G1V5Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G1V6Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G1V7Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G1V8Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G2V1Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G2V2Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G2V3Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G2V4Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G2V5Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G2V6Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G2V7Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G2V8Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G3V1Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G3V2Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G3V3Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G3V4Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G3V5Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G3V6Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G3V7Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G3V8Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G4V1Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G4V2Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G4V3Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G4V4Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G4V5Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G4V6Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G4V7Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G4V8Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G5V1Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G5V2Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G5V3Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G5V4Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G5V5Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G5V6Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G5V7Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G5V8Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G6V1Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G6V2Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G6V3Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G6V4Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G6V5Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G6V6Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G6V7Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G6V8Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G7V1Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G7V2Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G7V3Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G7V4Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G7V5Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G7V6Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G7V7Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G7V8Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IPG2" serializeAs="String">
                <value />
            </setting>
            <setting name="IPG3" serializeAs="String">
                <value />
            </setting>
            <setting name="IPG4" serializeAs="String">
                <value />
            </setting>
            <setting name="IPG5" serializeAs="String">
                <value />
            </setting>
            <setting name="IPG6" serializeAs="String">
                <value />
            </setting>
            <setting name="IPG7" serializeAs="String">
                <value />
            </setting>
            <setting name="IPG1" serializeAs="String">
                <value>192.16.23.51</value>
            </setting>
            <setting name="UDPPort" serializeAs="String">
                <value>1937</value>
            </setting>
            <setting name="IPtoSend" serializeAs="String">
                <value>192.168.23.200</value>
            </setting>
        </VFD_Controller.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
